.subreddit {
  border: 1px solid #ccc;
  width: 92vw;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 5px;

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.title {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
}

.thumbnail {
  height: 70px;
  background-color: #eee;
  text-align: center;
  margin: 10px;
  display: block;
  align-items: centeer;
}

.time {
  padding-left: 0.3em;
  color: #8899a6;
  display: inline-block;
}

.time::before {
  content: '\00b7';
  padding-right: 0.3em;
}

.column15 {
  flex: 15%;
  max-width: 15%;
  min-width: 120px;
  padding: 0 4px;
  align-items: center;
}

.column80 {
  flex: 80%;
  max-width: 80%;
  padding: 0 4px;
}

.comments {
  cursor: pointer;
  display: block;
}

.url {
  width: 50%;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  color: goldenrod;
  font-weight: bold;
  display: inline-block;
}
